@import url("https://fonts.google.com/specimen/Manrope");

body{
    margin: 0%;
    padding: 0%;
    background-color: hsl(230, 100%, 99%);
    font-family: 'Manrope', sans-serif;
}

.price-heading .bg-pattern-image{
    margin: auto;
    position: absolute;
    right: 50%;
    top: 10%;
  }
 .sign-up-texts {
     text-align: center;
     margin-top: 100px;
 }
 
 .intro-text1{
   font-weight: 600;
   font-size: 30px;
  color:hsl(227, 35%, 25%)
 }
 .intro-text2{
   font-size: 15px;
   color: hsl(225, 20%, 60%);
   margin-bottom: 70px;
 }
 .payment-card{
 border: 0px solid black;
 height: 50vh;
 width: 30%;
 margin: auto 35%;
 text-align: center;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }
