/* * {
  padding: 0;
  margin: 0;
}
.wrapper {
  display: flex;
  height: 450px;
  margin: 80px 231px;
  align-items: center;
  border-radius: 10%;
}
.section-1 {
  width: 33%;
  height: inherit;
  border: 2px solid hsl(31, 77%, 52%);
  border-radius: 10px 0px 0px 10px;
  background-color: hsl(31, 77%, 52%);
}
.section-2 {
  width: 34%;
  height: inherit;
  border: 2px solid hsl(184, 100%, 22%);
  background-color: hsl(184, 100%, 22%);
}
.section-3 {
  width: 33%;
  border-radius: 0px 10px 10px 0px;
  height: inherit;
  border: 2px solid hsl(179, 100%, 13%);
  background-color: hsl(179, 100%, 13%);
} */
